# This workflow will build, test and publish a .NET Core Desktop application

name: .NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Solution_Name: organizadorCapitulos.sln
      Test_Project_Path: organizadorCapitulos.Tests\organizadorCapitulos.Tests.csproj
      Main_Project_Path: organizadorCapitulos\organizadorCapitulos.csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Add MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    # Restore the application dependencies
    - name: Restore the application
      run: dotnet restore $env:Solution_Name

    # Build the application
    - name: Build the application
      run: dotnet build $env:Solution_Name --configuration $env:Configuration --no-restore
      env:
        Configuration: ${{ matrix.configuration }}

    # Execute all unit tests in the solution
    - name: Execute unit tests
      run: dotnet test $env:Solution_Name --configuration $env:Configuration --no-build --verbosity normal
      env:
        Configuration: ${{ matrix.configuration }}

    # Publish the application
    - name: Publish the application
      run: dotnet publish $env:Main_Project_Path --configuration $env:Configuration --output ./publish/$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}

    # Upload the published application as artifacts
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: OrganizadorCapitulos-${{ matrix.configuration }}
        path: ./publish/${{ matrix.configuration }}
